<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Városok</title>
    <style>
        body{
            margin:40px auto;
            max-width:1100px;
            line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px;
        }
    </style>
</head>
<body>
    {% if cities %}
        <ul>
        {% for city in cities %}
            <li><a href="{% url 'merchant_game:city-stock' city.name %}">{{ city.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No cities are available.</p>
    {% endif %}
</body>
</html>