<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalmárjáték</title>
    <style>
        body{
            margin:40px auto;
            max-width:1100px;
            line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="{% url 'player-searching' %}">Játékosok</a></li>
        <li><a href="{% url 'cities' %}">Városok</a></li>
        <li><a href="{% url 'loaning' %}">Bank</a></li>
    </ul>
</body>
</html>